<phpunit bootstrap="./bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Application">
            <directory>./</directory>
        </testsuite>
    </testsuites>

    <!-- creating coverage report, Xdebug must be installed -->
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../application</directory>
            <directory suffix=".php">../library</directory>
            <exclude>
                <directory suffix=".php">../library/Zend</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
